name: Terraform Auto Apply

on:
  push:
    branches:
      - main

jobs:
  terraform:
    name: Terraform Deploy
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write

    steps:
      # Step 1: Checkout repo
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Configure AWS Credentials
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      # Step 3: Install Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      # Step 4: Terraform Init
      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init -input=false

      # Step 5: Terraform Format Check
      - name: Terraform Format
        working-directory: ./terraform
        run: terraform fmt -check

      # Step 6: Terraform Validate
      - name: Terraform Validate
        working-directory: ./terraform
        run: terraform validate

      # Step 7: Terraform Plan
      - name: Terraform Plan
        working-directory: ./terraform
        run: terraform plan -out=tfplan -input=false

      # Step 8: Terraform Apply (AUTO APPLY)
      - name: Terraform Apply
        working-directory: ./terraform
        run: terraform apply -auto-approve tfplan
